# SignalFlow-Preprocessing
# Updated: 8/14/2023

# --------------------
# The name of your Docker container (to avoid conflicts)
# Example: CONTAINER_NAME=my_container
CONTAINER_NAME=sf-preprocessing-01

# Version of SignalFlow-Preprocessing Image (GPU or CPU)
# Example: cincibrainlab/signalflow-preprocessing:cpu or cincibrainlab/signalflow-preprocessing:gpu
IMAGE_NAME=cincibrainlab/signalflow-preprocessing:cpu

# The port number to access the web interface of your application
# Example: WEB_PORT=8888
WEB_PORT=10111

# Resource Configuration
# ----------------------
# Auto-management by Docker

# Folder Configuration
# -------------------
# The path to the storage folder on your local machine
# Files will be available at /srv within the container
# Example: LOCAL_FOLDER=C:\my_data
STORAGE_FOLDER=

# MATLAB Licensing Specifics
# ---------------------------
# The hostname for your container
# Example: HOSTNAME=my_hostname / use ClusterAccount if your admin supports
# Student licenses require a specific hostname, username, and mac address
# Network licenses: Try HOSTNAME=ClusterAccount or comment out
HOSTNAME=

# The MAC address for your container. This is required for certain types of MATLAB licensing.
# If you don't have a specific MAC address to use, you can use the default value below.
# Example: MAC_ADDRESS=00:1C:C2:42:0C:A7
MAC_ADDRESS=00:1C:C2:42:0C:A7

# The path to your MATLAB license file
# Example: MATLAB_LICENSE_FILE=./my_matlab_license.lic
# Student licenses: point to specific file downloaded from Mathworks
MATLAB_LICENSE_FILE=


# Matlab Student User Specifics
# A student license can be tied to a username
# Example: MATLAB_STUDENT_USER=ernie
STUDENT_USER=ernie