# Docker Configuration
# --------------------
# The name of your Docker container
# Example: CONTAINER_NAME=my_container
CONTAINER_NAME=

# The name of your Docker image
# Example: IMAGE_NAME=my_image
IMAGE_NAME=

# Resource Configuration
# ----------------------
# The maximum limit for CPU usage. This should be a value between 0.01 and 1, where 1 corresponds to 100% of CPU.
# Example: CPU_LIMIT=0.5
CPU_LIMIT=

# The maximum limit for Memory usage in megabytes
# Example: MEM_LIMIT=2048
MEM_LIMIT=

# Jupyter Notebook Configuration
# ------------------------------
# The user name for the Jupyter Notebook
# Example: NB_USER=my_username
NB_USER=

# The password for the Jupyter Notebook (also serves as sudo password for terminal)
# Example: PASSWORD=my_password
PASSWORD=

# The port number to access the web interface of your application
# Example: WEB_PORT=8888
WEB_PORT=

# Paths Configuration
# -------------------
# The path to the storage folder on your local machine
# Example: STORAGE_FOLDER=C:\my_data
STORAGE_FOLDER=

# The path to the home folder on your local machine
# Example: HOME_FOLDER=C:\Users\my_user
HOME_FOLDER=

# The path to the Dropbox folder on your local machine
# Example: DROPBOX_FOLDER=C:\Users\my_user\Dropbox
DROPBOX_FOLDER=

# API Keys Configuration
# ----------------------
# Your OpenAI API key
# Example: OPENAI_API_KEY=my_openai_key
OPENAI_API_KEY=

# MATLAB Licensing Specifics
# ---------------------------
# The hostname for your container
# Example: HOSTNAME=my_hostname
HOSTNAME=

# The MAC address for your container. This is required for certain types of MATLAB licensing.
# If you don't have a specific MAC address to use, you can use the default value below.
# Example: MAC_ADDRESS=00:1C:C2:42:0C:A7
MAC_ADDRESS=00:1C:C2:42:0C:A7

# The path to your MATLAB license file
# Example: MATLAB_LICENSE_FILE=./my_matlab_license.lic
MATLAB_LICENSE_FILE=
